<section class="background">

  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-5">
        <h2><strong>SamyCha</strong></h2>
        <h4><strong>Full Stack Developper</strong></h4>
        <p>Pour des sites web dynamiques et responsives</p>
        <%= image_tag "rails.png", width:120 %> <%= image_tag "javascript.png", width:70 %> <%= image_tag "bootstrap.png", width:80 %> <%= image_tag "heroku.png", width:80 %>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4><strong>Mes réalisations:</strong></h4>
    </div>
    <div class="row">
      <div class="col-xs-4 text-center">
        <%= image_tag "my_clean_car.png", width:100 %><br>
        <strong>My Clean Car</strong><br>
        Web App
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag "les_armoires.jpg", width:350 %><br>
        <strong>Les armoires de Paris</strong><br>
        Market Place
      </div>
      <div class="col-xs-4 text-center">
        <%= image_tag "project_me.png", width:320 %><br>
        <strong>Project ME</strong><br>
        Product Platform
      </div>
    </div>
  </div>
</div>
<hr>
<div class="row background-purple">
  <div class="col-xs-12 text-center">
   <h4><strong>Fonctionnalités:</h4><strong>
 </div>
 <div class="col-xs-6 text-center">
  <ul>Fiche Produit
    <li>Profil utilisateur</li>
    <li>Gestion des différents utilisateurs</li>
    <li>Panneau d'administration</li>
    <li>Commentaires</li>
  </ul>
</div>
<div class="col-xs-6 text-center">
  <ul>
    <li>Rapprochement géographique</li>
    <li>Messagerie utilisateur</li>
    <li>Intégration d'API</li>
    <li>Paiement en ligne</li>
  </ul>
</div>
</div>

