<section class="background">

  <div class="container">
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-5">
        <h2><strong>SamyCha</strong></h2>
        <h4><strong>Full Stack Developper</strong></h4>
        <p>Pour des sites web dynamiques et responsives</p>
        <%= image_tag "rails.png", width:120 %> <%= image_tag "javascript.png", width:70 %> <%= image_tag "bootstrap.png", width:80 %>
      </div>
      <div class="col-xs-6">
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <%= image_tag "logo.png", width:40 %>
    </div>
     <div class="col-xs-6">
     Formation Full Stack developper au wagon Bordeaux
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
    <%= image_tag "adbm.png", width:80 %>
    </div>
    <div class="col-xs-6">
   Chef de projet digital pour l'Aéroport de Bordeaux
    </div>
  </div>
</div>
