<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Outils de developppement:</h2>
  <% @lessons.each do |lesson| %>
  <strong><%= lesson.reference %>.</strong><%= lesson.name %> <span class="badge badge-info"><%= lesson.tag %></span>
  <%= link_to 'Voir', lesson %>
  <br>
  <% end %>
  <br>
  <br>
  <%= link_to 'Ajouter une leçon', new_lesson_path, class:"btn btn-info" %>
</div>
